<div class="window-container">
    <div id="authenticator-download-window">

        <div style="width: 100%;">
            <div style="font-size: 14px; text-align: left; vertical-align: top;">
                <div>
                    <span style="font-size: 16px;color: #fff;">Authenticator:</span><br>
                    <span>
                        TheAltening's authenticator is used to gain access to our servers and our alt tokens, it is necessary to use the alts and can be installed in less than a minute.
                    </span>
                </div>

                <div style="margin-top: 20px;">
                    <span style="font-size: 16px;margin-top: 10px;color: #fff;">How to set up the authenticator:</span>
                    <div style="margin-left: 10px;">
                        <span>1. Download the application by clicking the "Download" button below.</span> <br>
                        <span>2. Extract the downloaded files. <a href="https://i.imgur.com/ET3jPPd.gifv" target="_blank">[example]</a></span> <br>
                        <span>3. Launch "authenticator.exe" as administrator. <a href="https://i.imgur.com/1LUjSvd.gifv" target="_blank">[example]</a></span> <br>
                        <span>4. Enter your API Key. <a href="https://i.imgur.com/u017hTK.gifv" target="_blank">[example]</a> <a href="#" onclick="prompt('api-token', apikey);">[api-key]</a></span>
                    </div>
                </div>

                <div style="margin-top: 20px;">
                    <span style="font-size: 16px;color: #fff;">How to use alt tokens:</span>
                    <div style="margin-left: 10px;">
                        <span>1. Switch authentication servers. <a href="https://i.imgur.com/JjUbr9j.gifv" target="_blank">[example]</a></span> <br>
                        <span>2. Launch minecraft.</span> <br>
                        <span>3. Enter the alt token in 'Email or username' field and any password. <a href="https://i.imgur.com/NkFzNd0.gifv" target="_blank">[example]</a></span>
                    </div>
                        <!-- Download -->
                        <div>
                            <button onclick="var wnd = window.open('https://github.com/TheAltening/Authenticator/releases/download/2.0.0/TheAltening.zip', '_blank'); wnd.focus();" class="square-button" style="width: 200px; margin-top: -60px; float: right;">
                                <div class="square-text">
                                    <label>Download</label>
                                    <br>
                                    <span>29mb</span>
                                </div>
                                <div class="square-logo">
                                    <span>
                                        <i class="material-icons">get_app</i>
                                    </span>
                                </div>
                            </button>
                        </div>
                </div>

                <div style="margin-top: 20px;">
                    <div style="margin-left: 10px;">
                        <i class="material-icons" style="
                            font-size: 13px;
                            vertical-align: middle;
                            margin-right: 4px;
                            color: #e04b4b;
                        ">
                        video_library
                        </i><span><a href="https://youtu.be/ohi2lA7P6E0" target="_blank">Click Here To Watch A Tutorial On How To Setup The Altening</a></span> <br>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    if(getParameter("tracer") == "app") {
        // App updater link.
    }
</script>