<div class="window-container">
    <div id="authenticator-download-window">

        <div style="width: 100%;">
            <div class="client-item-header">
                <div>
                    <span class="client-item-header-text">TheAltening Supported Clients</span><br>
                    <span style="font-size: 12px;">The listings below link to the websites of programs that implement TheAltening's API, these minecraft clients include alt managers that allow you to use TheAltening without having to switch clients or use our custom authenticator.</span>
                </div>
            </div>
        </div>
        
        <div id="client-item-holder">
        </div>

        <div class="client-item">
            <div class="client-item-title-holder">
                <div>
                    <span style="font-size: 11px;">Integrated the generator to your own client? Contact staff to get on this list.</span><br>
                    <a style="color: #2DB194; font-size: 11px;margin-right: 10px;" href="https://github.com/TheAltening" target="_blank">Java API</a>
                    <a style="color: #2DB194; font-size: 11px;" href="https://panel.thealtening.com/#api" target="_blank">HTTP Api</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        downloadClients();
    </script>
</div>